@font-face {
  font-family: "iconfont"; /* Project id 4516560 */
  src: url('iconfont.woff2?t=1713601215792') format('woff2'),
       url('iconfont.woff?t=1713601215792') format('woff'),
       url('iconfont.ttf?t=1713601215792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yunduanshuaxin:before {
  content: "\ec60";
}

.icon-cloud-full:before {
  content: "\e988";
}

.icon-cloud:before {
  content: "\e989";
}

