<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
	package="io.dcloud.uni_modules.photoUtil">

	<!--  一般来说，允许用户自定义头像的app都需要这个权限  -->
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33" />

	<!--  如果你想开发视频编辑器之类需要获取视频的app，加上这个权限  -->
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" android:minSdkVersion="33" />
	<!--  向前兼容  -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

	<application android:usesCleartextTraffic="true">
		<!-- 表示当前项目已经适配了分区存储特性 -->
		<meta-data android:name="ScopedStorage" android:value="true" />
	</application>
</manifest>